{#
/**
 * @file
 * Default theme implementation for the farm_timeline render element.
 *
 * Available variables:
 * - attributes: Attributes for the farm_timeline wrapper div.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}></div>
