.views-field .status.status--done {
  color: var(--gin-status-bg);
  background-color: var(--gin-color-green);
}
.views-field .status.status--abandoned {
  color: var(--gin-color-danger-lightest);
  background-color: var(--gin-color-danger);
}
